*{box-sizing:border-box;
}
.logincont{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    place-content: center;

}
.fbicon{
    color:rgba(69, 94, 240, 0.89);
    height:70px;
    width:70px;
}
.signinbtn{
    display:block;
    width:100px;
    padding:8px 10px;
    border:none;
    background:rgb(61, 105, 226);
}
.signin:hover{
    background:rgb(70,170,256);
}